@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-space-grotesk);
}

.swiper-wrapper {
  padding-bottom: 50px;
  padding-top: 10px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0px;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}
